@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #4a4947;
    --foreground: #faf7f0;
    --primary: #b17457;
    --secondary: #d8d2c2;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Comfortaa";
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
